/*  Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 17px;
        padding: 15px 8px;
    }
    .btn-2 {
        font-size: 17px;
        padding: 14px 20px;
    }
    .btn-1 {
        font-size: 17px;
        line-height: 34px;
    }
    .section-title .section-heading {
        font-size: 47px;
        line-height: 65px;
    }
    .hero-left {
        display: none;
    }
    .btn-red {
        padding: 12px 25px;
    }
    .feature-content .content-heading {
        font-size: 23px;
    }
    .single-price {
        padding: 40px 30px;
    }
    .single-slide-right p {
        font-size: 19px;
        margin-bottom: 80px;
    }
    .company-faq-content .accordion-thumb {
        font-size: 21px;
    }
    .blog-content {
        padding: 30px 20px;
    }
    .single-team::before {
        left: 0;
    }
    .blog-content {
        right: 0;
    }
}


/*  Medium devices (tablets, 768px and up) */

@media (max-width: 991px) {
    .pt-190 {
        padding-top: 80px !important;
    }
    .pb-190 {
        padding-bottom: 80px !important;
    }
    .pb-280 {
        padding-bottom: 170px !important;
    }
    .pt-170 {
        padding-top: 60px !important;
    }
    .pb-370 {
        padding-bottom: 260px !important;
    }
    .pb-200 {
        padding-bottom: 90px !important;
    }
    .pt-180 {
        padding-top: 70px !important;
    }
    .pb-170 {
        padding-bottom: 60px !important;
    }
    .menu-one {
        z-index: 9999;
        background: #fff;
    }
    .hero-area {
        height: 700px;
    }
    .hero-right {
        display: none;
    }
    .hero-left {
        display: none;
    }
    .hero-logo {
        margin-top: 100px;
    }
    .hero-title {
        font-size: 45px;
        margin-bottom: 50px;
    }
    .fearure-right {
        display: none;
    }
    .mission-gradiant::before {
        display: none;
    }
    .mission-right-content {
        padding: 30px 20px 0 20px;
    }
    .work-child::before {
        display: none;
    }
    .single-team::before {
        left: 0;
    }
    .team-content {
        left: 0;
        text-align: center;
        width: 100%;
    }
    .price-tab {
        margin: 0;
    }
    .single-slide-right p {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .name-title-testimonial {
        font-size: 22px;
        margin-top: 20px;
    }
    .faq-right-image {
        display: none;
    }
    .blog-content {
        top: 0;
        right: 0;
    }
    .footer-logo {
        top: 0;
        width: 170px;
        height: 60px;
        line-height: 60px;
    }
    .footer-form {
        width: 100%;
        margin: 52px auto 90px;
    }
    .footer-form {
        width: 100%;
        margin: 52px auto 50px;
    }
    .footer-socials ul li a {
        width: 45px;
        height: 45px;
    }
    .footer-socials ul li a i {
        line-height: 45px;
    }
    .footer-menu ul li a {
        font-size: 15px;
        padding: 15px 7px;
    }
    .copyright-area span {
        font-size: 15px;
    }
    .copyright-area {
        padding-top: 50px;
        padding-bottom: 38px;
    }
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
    .hero-area {
        height: 650px;
    }
    .hero-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .hero-input .input-1 {
        width: 53% !important;
    }
    .hero-logo {
        margin-top: 70px;
    }
    .btn-red {
        padding: 15px 20px;
    }
    .single-feature {
        padding: 30px 10px;
    }
    .feature-content .content-heading {
        font-size: 20px;
        padding: 23px 0 17px;
    }
    .feature-content p {
        font-size: 15px;
    }
    .section-title .section-heading {
        font-size: 40px;
        line-height: 50px;
    }
    .work-content-title {
        font-size: 22px;
        margin-top: 40px;
    }
    .discover-shape {
        display: none;
    }
    .footer-form-title {
        font-size: 35px;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
    .section-title .section-heading {
        font-size: 30px;
        line-height: 50px;
    }
    .section-title span {
        font-size: 18px;
    }
    .hero-title {
        font-size: 30px;
        line-height: 50px;
    }
    .hero-input .input-1 {
        width: 100% !important;
    }
    .hero-input button {
        position: relative;
        top: 20px;
    }
    .btn-1 {
        font-size: 15px;
    }
    .single-logo img {
        width: 100%;
        padding: 0 15px;
    }
    .mission-wrapper p {
        font-size: 14px;
    }
    .mission-wrapper ul li {
        font-size: 15px;
        padding: 5px 0;
    }
    .btn-red {
        height: 50px;
    }
    .hero-area {
        height: 600px;
    }
    .hero-logo {
        margin-top: 70px;
    }
    .mission-wrapper a {
        margin-top: 30px;
    }
    .work-content-title {
        font-size: 20px;
        margin-top: 30px;
    }
    .discover-shape {
        display: none;
    }
    .team-child:nth-child(2) .single-team {
        margin-top: 340px;
    }
    .name-title {
        font-size: 25px;
    }
    .team-content span {
        font-size: 14px;
    }
    .row.justify-content-center.mt-70 {
        margin-top: 0 !important;
    }
    .price-tab li {
        font-size: 18px;
    }
    .single-price {
        padding: 30px;
    }
    .single-slide-right p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .company-faq-content .accordion-thumb {
        padding: 15px 10px;
    }
    .company-faq-content .accordion-panel {
        font-size: 15px;
        padding: 10px 20px 7px;
    }
    .footer-form-title {
        font-size: 30px;
    }
}

@media (min-width: 425px) and (max-width: 575px) {
    .container {
        max-width: 420px;
        margin: 0 auto;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (min-width: 320px) and (max-width: 424.98px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
    }
    .hero-title {
        font-size: 25px;
        line-height: 40px;
    }
    .section-title .section-heading {
        font-size: 25px;
        line-height: 40px;
    }
    .feature-content .content-heading {
        font-size: 21px;
    }
    .feature-content p {
        font-size: 14px;
    }
    .single-feature {
        padding: 30px 20px;
    }
    .feature-child:nth-child(2n+2) .single-feature {
        top: 0;
    }
    .video-play-btn {
        font-size: 16px;
        height: 70px;
        width: 70px;
    }
    .video-play-btn::before,
    .video-play-btn::after {
        width: 70px;
        height: 70px;
    }
    .video-play-btn span {
        border-left: 20px solid #a71573;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    .mission-wrapper ul li {
        font-size: 13px;
    }
    .mission-wrapper ul li i {
        margin-right: 0px;
    }
    .mission-wrapper a {
        margin-top: 20px;
    }
    .slide-discover .single-slide.slick-active.slick-center {
        transform: scale(1);
    }
    .footer-menu ul li a {
        font-size: 14px;
        padding: 15px 2px;
    }
    .copyright-area span {
        font-size: 14px;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (min-width: 320px) and (max-width: 374.98px) {}